# Require the CI team to review changes to the CCI recipes.
* @mathbunnyru @bthomee

# Require the Programmability team to review changes to the WASMI code.
recipes/wasmi @mvadari @oleks-rip @pwang200 @sappenin
